*.rbc
capybara-*.html
.rspec
.rspec-local
/coverage/
/spec/tmp

/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/public/system
/public/uploads/
/public/pdf/images/products/*.tif
/public/pdf/images/products/*.jpg
/public/pdf/images/products/*.png

.byebug_history
.DS_Store
.keep

config/initializers/secret_token.rb

.env
.env.local
.env.test

/vendor/bundle

# NPM
/node_modules
node_modules
npm-debug.log
npm-debug.log.*

dump.rdb
*.swp

# Generated Webpack Bundles
/config/initializers/fingerprint.rb
/app/assets/webpack/*
/public/manifest.json
/public/images
/public/javascripts
/public/stylesheets
/public/development/*
/public/test/*

Makefile
/public/packs
/node_modules
/public/packs
/public/packs-test
/node_modules
